
#movieWrapper {
    background-color: #eee;
    margin-top: 20px;
    margin-bottom:30px;
    padding-bottom:30px;
}
#poster{
    margin-top:5px;
}
#titleDiv{
    margin-top:10px;
    height:20px;
    
}
#logo{
    height:150px;
}
#posterWraper {
     width:180px;
    height:220px;
       
    margin: 20px;
}






